
/*************************
Style for movie cards
*************************/

.year span,
.actors span,
.plot span {
  font-weight:  bold;
}

/*********************
 ** Helper Classes
 *********************/


.hidden {
	display: none !important;
}

/*********************
 ** Star Ratings
 *********************/

.rating {
  display:inline-block;
  font-size:1.5em;
  unicode-bidi: bidi-override;
  direction: rtl;
  float:right;
}

.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}

.rating .filled {
	font-size: 1.1em;
	color: gold;
}

.dark {
	color: gold;
}

.rating > span:hover,
.rating > span:hover ~ span {
  color: transparent;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: relative;
   //left: 0;
   color: gold;

/*************************
Style for add movie cards
*************************/


.searchCard {
  margin-top: 1em;
  padding: 1em;


.badge {
	margin-bottom: 1em;
}
