
/*************************
Style for movie cards
*************************/

.year span,
.actors span,
.plot span {
  font-weight:  bold;
}

/*********************
 ** Helper Classes
 *********************/


.hidden {
	display: none !important;
}




/*************************
Style for add movie cards
*************************/


.searchCard {
  margin-top: 1em;
  padding: 1em;
    
  
  .badge {
  margin-bottom: 1em;
}
